@model IEnumerable<CIS411_Final_Library.Models.BookListReview>

@{
    ViewBag.Title = "Index";
}

<h2>Library</h2>

<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search BY title"/>
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Title</h4>
        <div>
          <p>Creation Date: @item.CreationDate </p> 
           <p>Quantity:@item.Quantity</p> 
            <p>Rate: @item.Rate</p> 
        </div>
        <hr/>
    </div>
    
}
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;


<div>
    @{
        if (Request.IsAuthenticated)
        {
            var manager = new UserManager< >(new UserStore<ApplicationUser>(new ApplicationDbContext()));
            var currentUser = manager.FindById(User.Identity.GetUserId());
            <p>@currentUser.EmailID</p>
            <p>@currentUser.FirstName @currentUser.LastName</p>
        }
    }

</div>

